.bar.bar-stable {
  background-color: #548cdf !important; }
  .bar.bar-stable .title {
    color: #fff; }

.checkon-view {
  max-width: 640px;
  margin: 0 auto; }
  .checkon-view .checkon-index {
    margin-bottom: 50px;
    background-color: #fff; }
    .checkon-view .checkon-index .checkon-index-map {
      height: 240px;
      width: 100%; }
      .checkon-view .checkon-index .checkon-index-map .AMapArea {
        height: 100%;
        width: 100%;
        float: left; }
    .checkon-view .checkon-index .checkon-index-body {
      height: 235px;
      width: 100%;
      float: left;
      background: url("../img/checkon-bg.png") no-repeat left top;
      background-size: 100% 100%;
      background-color: #fff;
      padding-top: 30px;
      margin-bottom: 10px; }
      .checkon-view .checkon-index .checkon-index-body .round-o {
        height: 140px;
        width: 140px;
        border-radius: 70px;
        padding: 10px;
        margin: auto;
        background: url("../img/checken-round.png") no-repeat left top;
        background-size: 100% 100%; }
        .checkon-view .checkon-index .checkon-index-body .round-o .round-i {
          height: 120px;
          width: 120px;
          padding-top: 30px;
          border-radius: 60px;
          margin: auto;
          font-size: 18px;
          color: #fff;
          text-align: center; }
          .checkon-view .checkon-index .checkon-index-body .round-o .round-i .time {
            font-size: 22px;
            margin-top: 10px; }
      .checkon-view .checkon-index .checkon-index-body .count {
        margin-top: 20px;
        text-align: center;
        color: #999;
        font-size: 14px; }
        .checkon-view .checkon-index .checkon-index-body .count span {
          color: #fd9b32; }
  .checkon-view .checkon-index-title {
    width: 100%;
    background: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 15px; }
    .checkon-view .checkon-index-title .head {
      height: 50px;
      width: 100px;
      color: #999;
      float: left;
      padding-left: 20px; }
    .checkon-view .checkon-index-title .t-time {
      opacity: 0.8; }
    .checkon-view .checkon-index-title .time {
      height: 50px;
      color: #333;
      float: left; }
    .checkon-view .checkon-index-title.add {
      font-size: 15px;
      border-bottom: 1px solid #eee; }
      .checkon-view .checkon-index-title.add .head {
        padding-left: 15px; }
  .checkon-view .checkon-button {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    float: left; }
    .checkon-view .checkon-button .button {
      line-height: 40px;
      width: 90%;
      height: 40px;
      line-height: 40px;
      margin-left: 5%;
      background: #548cdf;
      color: #fff; }
  .checkon-view .checkon-list {
    margin-bottom: 50px;
    background: #fff; }
    .checkon-view .checkon-list .checkon-list-item {
      display: table;
      width: 100%;
      float: left; }
      .checkon-view .checkon-list .checkon-list-item .checkon-list-title {
        display: table-cell;
        width: 50px;
        position: relative;
        font-size: 14px;
        color: #999; }
        .checkon-view .checkon-list .checkon-list-item .checkon-list-title .icon-checkon-dot {
          position: absolute;
          right: -10px;
          top: 1px;
          padding: 9px; }
      .checkon-view .checkon-list .checkon-list-item .checkon-list-body {
        display: table-cell;
        border-left: 1px solid #eee;
        padding-left: 20px; }
        .checkon-view .checkon-list .checkon-list-item .checkon-list-body .checkon-list-imgs li {
          width: 33.33%;
          float: left;
          padding: 15px 0 20px 0;
          overflow: hidden; }
          .checkon-view .checkon-list .checkon-list-item .checkon-list-body .checkon-list-imgs li img {
            height: 80px;
            width: 100%; }
          .checkon-view .checkon-list .checkon-list-item .checkon-list-body .checkon-list-imgs li img:first-child {
            padding-right: 5%; }
          .checkon-view .checkon-list .checkon-list-item .checkon-list-body .checkon-list-imgs li img:nth-child(1) {
            padding-right: 5%; }
        .checkon-view .checkon-list .checkon-list-item .checkon-list-body p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden; }
        .checkon-view .checkon-list .checkon-list-item .checkon-list-body p:first-child {
          font-size: 13px; }
  .checkon-view .checkon-list-button {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 -5px 10px rgba(8, 1, 3, 0.1); }
    .checkon-view .checkon-list-button .button {
      width: 50%;
      height: 50px;
      line-height: 50px;
      float: left;
      text-align: center;
      font-size: 18px;
      border-radius: 0px;
      border: none;
      outline: none; }
      .checkon-view .checkon-list-button .button.go {
        color: #555;
        background: #fff; }
      .checkon-view .checkon-list-button .button.list {
        color: #fff;
        background: #548cdf; }
  .checkon-view .rn-container {
    position: relative;
    width: 100%;
    height: 230px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .checkon-view .rn-container .amap-icon img {
      width: 48px;
      height: 48px;
      background: transparent; }
  .checkon-view .rn-c-img {
    width: 32px;
    height: 32px;
    z-index: 222;
    position: absolute;
    top: 65px;
    right: 15px;
    background-color: #fff;
    padding: 4px;
    border: 1px solid #e0e0df;
    border-radius: 4px;
    background: transparent;
    background-color: #fff; }
  .checkon-view .px-button-fixed {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(8, 1, 3, 0.1);
    background-color: #fff; }
    .checkon-view .px-button-fixed button {
      background-color: #548cdf;
      width: 100%;
      border: none;
      outline: none;
      color: #fff;
      font-size: 18px;
      border-radius: 4px;
      height: 44px;
      line-height: 44px;
      text-align: center; }
  .checkon-view .px-content-fixed {
    margin-bottom: 64px; }
  .checkon-view .px-content-fixed2 {
    margin-bottom: 74px; }
  .checkon-view .px-ccc-active .active {
    background-color: #eee; }

.px-content {
  background-color: #f5f5f5; }
  .px-content section {
    padding: 15px;
    background-color: #fff;
    margin-top: 20px; }
    .px-content section button {
      color: #333; }
    .px-content section p {
      margin: 0; }
